<!DOCTYPE html>
<html lang="en" dir="ltr">
    
<header>
    <hgroup>
        <h2 class="title">{{ site.title }}</h2>
        <h4 class="subtitle">
            <span style="text-decoration: line-through;">{{ site.subtitle[0] }}</span>
            <br/>
            <span>{{ site.subtitle[1] }}</span>
        </h4>
    </hgroup>
    <nav>
        <p>
            <a href="{{ site.url }}">Home</a> 
            <a href="{{ site.url }}{{ site.Blog }}">Blog</a>
            <a href="{{ site.url }}{{ site.Life }}">Life</a>
        
            {% for link in site.links %}
                <a href="{{ site.url }}{{ link[1] }}">{{ link[0] }}</a>
            {% endfor %}
            
            {% for link in site.special_links %}
                    <a href="{{ link[1] }}">[{{ link[0] }}]</a>
            {% endfor %}
        </p>
    </nav>
</header>
